/.vs/OstapDelegate/v17/.futdcache.v1
/.idea/.idea.OstapDelegate/.idea/.gitignore
/OstapDelegate/.idea/.idea.OstapDelegate.dir/.idea/.gitignore
/OstapDelegate/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.fs
/OstapDelegate/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.fs
/.vs/OstapDelegate/v17/.suo
/OstapDelegate/obj/Debug/net6.0/apphost.exe
/OstapDelegate/obj/Release/net6.0/apphost.exe
/.idea/.idea.OstapDelegate/.idea/encodings.xml
/OstapDelegate/.idea/.idea.OstapDelegate.dir/.idea/encodings.xml
/OstapDelegate/bin/Debug/net6.0/FSharp.Core.dll
/OstapDelegate/bin/Release/net6.0/FSharp.Core.dll
/OstapDelegate/bin/Debug/net6.0/cs/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/de/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/es/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/fr/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/it/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/ja/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/ko/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/pl/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/pt-BR/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/ru/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/tr/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/zh-Hans/FSharp.Core.resources.dll
/OstapDelegate/bin/Debug/net6.0/zh-Hant/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/cs/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/de/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/es/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/fr/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/it/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/ja/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/ko/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/pl/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/pt-BR/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/ru/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/tr/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/zh-Hans/FSharp.Core.resources.dll
/OstapDelegate/bin/Release/net6.0/zh-Hant/FSharp.Core.resources.dll
/.idea/.idea.OstapDelegate/.idea/indexLayout.xml
/OstapDelegate/.idea/.idea.OstapDelegate.dir/.idea/indexLayout.xml
/.idea/.idea.OstapDelegate/.idea/misc.xml
/OstapDelegate/.idea/.idea.OstapDelegate.dir/.idea/misc.xml
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.AssemblyInfo.fs
/OstapDelegate/obj/Release/net6.0/OstapDelegate.AssemblyInfo.fs
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.AssemblyInfoInputs.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.AssemblyInfoInputs.cache
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.assets.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.assets.cache
/OstapDelegate/bin/Debug/net6.0/OstapDelegate.deps.json
/OstapDelegate/bin/Release/net6.0/OstapDelegate.deps.json
/OstapDelegate/bin/Debug/net6.0/OstapDelegate.dll
/OstapDelegate/bin/Release/net6.0/OstapDelegate.dll
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.dll
/OstapDelegate/obj/Release/net6.0/OstapDelegate.dll
/OstapDelegate/bin/Debug/net6.0/OstapDelegate.exe
/OstapDelegate/bin/Release/net6.0/OstapDelegate.exe
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.fsproj.AssemblyReference.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.fsproj.AssemblyReference.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.fsproj.CopyComplete
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.fsproj.CoreCompileInputs.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.fsproj.CoreCompileInputs.cache
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.fsproj.FileListAbsolute.txt
/OstapDelegate/obj/Release/net6.0/OstapDelegate.fsproj.FileListAbsolute.txt
/OstapDelegate/obj/OstapDelegate.fsproj.nuget.dgspec.json
/OstapDelegate/obj/OstapDelegate.fsproj.nuget.g.props
/OstapDelegate/obj/OstapDelegate.fsproj.nuget.g.targets
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.genruntimeconfig.cache
/OstapDelegate/obj/Release/net6.0/OstapDelegate.genruntimeconfig.cache
/OstapDelegate/bin/Debug/net6.0/OstapDelegate.pdb
/OstapDelegate/bin/Release/net6.0/OstapDelegate.pdb
/OstapDelegate/obj/Debug/net6.0/OstapDelegate.pdb
/OstapDelegate/obj/Release/net6.0/OstapDelegate.pdb
/OstapDelegate/bin/Debug/net6.0/OstapDelegate.runtimeconfig.json
/OstapDelegate/bin/Release/net6.0/OstapDelegate.runtimeconfig.json
/OstapDelegate/obj/project.assets.json
/OstapDelegate/obj/project.nuget.cache
/OstapDelegate/obj/project.packagespec.json
/.vs/OstapDelegate/project-colors.json
/OstapDelegate/obj/rider.project.restore.info
/.idea/.idea.OstapDelegate/.idea/vcs.xml
